.question {
  padding:1.5rem;
  padding-top:0;
  border:1px solid #aaa;
  border-radius:3px;
  margin-bottom:3rem;
  background: #ddd;

  header h2 {
   color:#333333;
   font-family:Merriweather,'Droid Serif', serif;
  }

  .choice {
    display: flex;
    flex-direction: column;
    margin-bottom:.5rem;

    div {
      flex: 1;
      margin-bottom:.5rem;
    }

    .text {
      font-family: 'Merriweather Sans', 'Droid Sans', sans-serif;
      padding:.5rem;
    }

    .votes {

    }
  }

}
